In [1]:
import numpy as np
import pandas as pd

1. Даны значения величины заработной платы заемщиков банка (zp) и значения их поведенческого кредитного скоринга (ks):
zp = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110],
ks = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832].
Найдите ковариацию этих двух величин с помощью элементарных действий, а затем с помощью функции cov из numpy
Полученные значения должны быть равны.
Найдите коэффициент корреляции Пирсона с помощью ковариации и среднеквадратичных отклонений двух признаков,
а затем с использованием функций из библиотек numpy и pandas.

In [13]:
zp = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])
ks = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

In [14]:
cov_ = (zp*ks).mean() - zp.mean()*ks.mean()
cov_

9157.839999999997

In [18]:
np.cov(zp, ks, ddof=0)[0, 1]

9157.840000000002

In [21]:
corr_ = cov_ /(zp.std()*ks.std())
corr_

0.8874900920739158

In [25]:
corr_np = np.corrcoef(zp, ks)
corr_np

array([[1.        , 0.88749009],
       [0.88749009, 1.        ]])

In [26]:
corr_np[0, 1]

0.8874900920739163

In [27]:
df = pd.DataFrame({'zp': zp, 'ks': ks})
df

    zp   ks
0   35  401
1   45  574
2  190  874
3  200  919
4   40  459
5   70  739
6   54  653
7  150  902
8  120  746
9  110  832

In [28]:
df.corr()

         zp       ks
zp  1.00000  0.88749
ks  0.88749  1.00000

In [31]:
df.corr().iloc[0, 1]

0.8874900920739162

2. Измерены значения IQ выборки студентов, 
обучающихся в местных технических вузах:
131, 125, 115, 122, 131, 115, 107, 99, 125, 111.
Известно, что в генеральной совокупности IQ распределен нормально.
Найдите доверительный интервал для математического ожидания с надежностью 0.95.

$$T_{1,2} = \overline{X} \pm \frac{s_0}{\sqrt{n}} \cdot c_{\gamma}$$

где $T_1$, $T_2$ — нижняя и верхняя границы доверительного интервала,

$\overline{X}$  — выборочное среднее арифметическое, $s_0$ — среднее квадратичное отклонение по выборке (несмещенное),

$n$ — размер выборки,

$\gamma$ — доверительная вероятность.

$c_{\gamma} = Ф^{-1} \frac{(1 + \gamma)}{2}$ — обратное значение функции стандартного нормального распределения.

In [33]:
x = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])
x

array([131, 125, 115, 122, 131, 115, 107,  99, 125, 111])

In [34]:
M = x.mean()
M

118.1

In [37]:
n = len(x)
n

10

In [42]:
gamma = 95
# по  таблице Стьюдента
c_gamma = 2.26215716274
s0 = x.var(ddof=1)** 0.5
s0

10.54566788359614

In [44]:
x.std(ddof=1)

10.54566788359614

In [45]:
T1 = M + (s0/10**0.5)* c_gamma
T1

125.64391634840943

In [47]:
T2 = M - (s0/10**0.5)* c_gamma
T2

110.55608365159055

In [48]:
print("Доверительный интервал: (", T1, ";",  T2, ")")

Доверительный интервал: ( 125.64391634840943 ; 110.55608365159055 )

3. Известно, что рост футболистов в сборной распределен нормально
с дисперсией генеральной совокупности, равной 25 кв.см. Объем выборки равен 27,
среднее выборочное составляет 174.2. Найдите доверительный интервал для математического 
ожидания с надежностью 0.95.

In [52]:
D = 25
n = 27
M = 174.2
p = 0.95

In [53]:
# по  таблице Стьюдента
c_gamma = 2.05552943864
s0 = D**0.5
s0

5.0

In [54]:
T1 = M + (s0/10**0.5)* c_gamma
T1

177.45007741181485

In [55]:
T2 = M - (s0/10**0.5)* c_gamma
T2

170.94992258818513

In [56]:
print("Доверительный интервал: (", T1, ";",  T2, ")")

Доверительный интервал: ( 177.45007741181485 ; 170.94992258818513 )

4. Выберите тему для проектной работы по курсу Теории вероятностей и математической статистики
и напишите ее в комментарии к Практическому заданию.

In [ ]:
Скачал базу 5000 фильмов
https://www.kaggle.com/carolzhangdc/imdb-5000-movie-dataset
Изучаю пока))